//Gradients
$background-gradient: linear-gradient(to bottom, #643ffd, #3328ea);
$circle-background-gradient: linear-gradient(to bottom, #3328ea, transparent);
//Colors
$left-card-lightBlueGray: hsl(240, 100%, 89%);
$reaction-red: #f55;
$memory-yellow: #ffb21e;
$verbal-green: #00bb8f;
$visual-blue: #1125d6;
$button-blueGray: #2e395a;
//Padding
$padding-standard: 20px;
//Border
$border-standard: 1px solid black;
$left-card-darkBlueGray: #8686a9;
